In [1]:
np = [1.0, 10.4, 3.2, 5.1, 7.5, 2.7] # 변수 np에 실수 list 생성

flotY = [np, np, np] # 변수 flotY에 np list를 3개를 넣어 다차원 배열을 생성
flotY

[[1.0, 10.4, 3.2, 5.1, 7.5, 2.7],
 [1.0, 10.4, 3.2, 5.1, 7.5, 2.7],
 [1.0, 10.4, 3.2, 5.1, 7.5, 2.7]]

In [2]:
# flotY는 다차원 배열
# flotY[n]을 이용해 n차원 배열 값 출력
flotY[0]

[1.0, 10.4, 3.2, 5.1, 7.5, 2.7]

In [4]:
flotY[0]='Python' # flotV[0]의 차원에 위의 값 대신 'Python'이라는 값을 입력하여 값을 변환
flotY

['Python', [1.0, 10.4, 3.2, 5.1, 7.5, 2.7], [1.0, 10.4, 3.2, 5.1, 7.5, 2.7]]

In [5]:
import numpy as np # numpy패키지를 np라는 명칭으로 축약

a = np.array([1, 2.5, 4.0, 5.5, 7.0]) # np.array함수를 사용한 값을 변수 a에 저장
a[3:]                                 # 변수 a의 3번째 자리부터 출력

array([ 5.5,  7. ])

In [6]:
# 변수 a의 값을 변수 b에 변환해 저장
# a**2는 변수 a의 값을 제공
b = np.array([a, a**2])
b

array([[  1.  ,   2.5 ,   4.  ,   5.5 ,   7.  ],
       [  1.  ,   6.25,  16.  ,  30.25,  49.  ]])

In [7]:
import pandas as pd # pandas라이브러리를 pd라는 명칭으로 축약해 호출
import numpy as np  # numpy 라이브러리를 np라는 명칭으로 축약해 호출

#Series의 Value와 Index를 변수 pandas_series에 선언
pandas_series = pd.Series([3000, 3200, 2700],
                          index = ['2016-11-10','2016-11-11','2016-11-12'])

print(type(pandas_series)) # 변수 pandas_series의 type 출력
pandas_series              # 변수 pandas_series 실행

<class 'pandas.core.series.Series'>

2016-11-10    3000
2016-11-11    3200
2016-11-12    2700
dtype: int64