In [1]:
np = [1.0, 10.4, 3.2, 5.1, 7.5, 2.7] # 변수 np에 실수 list 생성

flotY = [np, np, np] # 변수 flotY에 np list를 3개를 넣어 다차원 배열을 생성
flotY

[[1.0, 10.4, 3.2, 5.1, 7.5, 2.7],
 [1.0, 10.4, 3.2, 5.1, 7.5, 2.7],
 [1.0, 10.4, 3.2, 5.1, 7.5, 2.7]]

In [2]:
# flotY는 다차원 배열
# flotY[n]을 이용해 n차원 배열 값 출력
flotY[0]

[1.0, 10.4, 3.2, 5.1, 7.5, 2.7]

In [4]:
flotY[0]='Python' # flotV[0]의 차원에 위의 값 대신 'Python'이라는 값을 입력하여 값을 변환
flotY

['Python', [1.0, 10.4, 3.2, 5.1, 7.5, 2.7], [1.0, 10.4, 3.2, 5.1, 7.5, 2.7]]

In [5]:
import numpy as np # numpy패키지를 np라는 명칭으로 축약

a = np.array([1, 2.5, 4.0, 5.5, 7.0]) # np.array함수를 사용한 값을 변수 a에 저장
a[3:]                                 # 변수 a의 3번째 자리부터 출력

array([ 5.5,  7. ])

In [6]:
# 변수 a의 값을 변수 b에 변환해 저장
# a**2는 변수 a의 값을 제공
b = np.array([a, a**2])
b

array([[  1.  ,   2.5 ,   4.  ,   5.5 ,   7.  ],
       [  1.  ,   6.25,  16.  ,  30.25,  49.  ]])

In [7]:
import pandas as pd # pandas라이브러리를 pd라는 명칭으로 축약해 호출
import numpy as np  # numpy 라이브러리를 np라는 명칭으로 축약해 호출

#Series의 Value와 Index를 변수 pandas_series에 선언
pandas_series = pd.Series([3000, 3200, 2700],
                          index = ['2016-11-10','2016-11-11','2016-11-12'])

print(type(pandas_series)) # 변수 pandas_series의 type 출력
pandas_series              # 변수 pandas_series 실행

<class 'pandas.core.series.Series'>

2016-11-10    3000
2016-11-11    3200
2016-11-12    2700
dtype: int64

In [8]:
import numpy as np  # numpy라이브러리를 np라는 명칭으로 축약해 호출
import pandas as pd # pandas라이브러리를 pd라는 명칭으로 축약해 호출

# DataFrame의 Value, Column, Index를 변수 df에 선언
df = pd.DataFrame([100, 150, 200, 250, 300], columns=['numbers'], index=['a','b','c','d','e'] )
df

   numbers
a      100
b      150
c      200
d      250
e      300

In [9]:
df.index # DataFrame의 index를 표시

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [10]:
# DataFrame에 values라는 컬럼을 추가하고 값을 입력# DataFrame에 values라는 컬럼을  
df['values'] = (10, 50, 40, 30, 60)
df

   numbers  values
a      100      10
b      150      50
c      200      40
d      250      30
e      300      60

In [11]:
df['values'] = (10,50,40) # DataFrame의 인덱스 수를 맞추지 않으면 에러 발생
df

ValueError: Length of values does not match length of index

In [12]:
# Column A에 1, 2, 3이라는 값을 넣음
df_1=pd.DataFrame(['1','2','3'], columns=['A'])

# Column B에 4,5,6,7 값을 넣음
df_2=pd.DataFrame(['4','5','6','7'], columns=['B'])
# B라는 Column에 4, 5, 6, 7이라는 값을 넣음

df = df_1.join(df_2,how='outer') # 두개의 DataFrame을 outer join을 통해 합침
df # 합친 DataFrame을 출력

     A  B
0    1  4
1    2  5
2    3  6
3  NaN  7

In [13]:
import pandas as pd
import numpy as np

# random값을 넣은 DataFrame을 생성
# np.random.randn은 5행 5열의 랜덤 데이터를 생성
# 재호출 시 데이터가 변형되므로 주의
df=pd.DataFrame(np.random.rand(5,5))
df.columns = ['A','B','C','D','E']

df

          A         B         C         D         E
0  0.085058  0.180196  0.255618  0.677743  0.019551
1  0.997105  0.364942  0.795431  0.777150  0.593833
2  0.479191  0.912948  0.531516  0.225376  0.888093
3  0.432163  0.577910  0.954523  0.800681  0.255205
4  0.659617  0.682583  0.989743  0.996592  0.278686

In [14]:
# Describe함수를 이용해 DataFrame 데이터 통계 요약값을 표현
df.describe()

              A         B         C         D         E
count  5.000000  5.000000  5.000000  5.000000  5.000000
mean   0.530627  0.543716  0.705366  0.695508  0.407073
std    0.333584  0.283237  0.309660  0.287106  0.337631
min    0.085058  0.180196  0.255618  0.225376  0.019551
25%    0.432163  0.364942  0.531516  0.677743  0.255205
50%    0.479191  0.577910  0.795431  0.777150  0.278686
75%    0.659617  0.682583  0.954523  0.800681  0.593833
max    0.997105  0.912948  0.989743  0.996592  0.888093

In [15]:
# Group by하기 전 그룹별로 구분하기 위해 division이라는 Column을 생성
df['division'] = ['X','Y','X','Y','Z']
df

          A         B         C         D         E division
0  0.085058  0.180196  0.255618  0.677743  0.019551        X
1  0.997105  0.364942  0.795431  0.777150  0.593833        Y
2  0.479191  0.912948  0.531516  0.225376  0.888093        X
3  0.432163  0.577910  0.954523  0.800681  0.255205        Y
4  0.659617  0.682583  0.989743  0.996592  0.278686        Z

In [17]:
# DataFrame에 Group by를 사용해 column 'division'의 값에 따라 평균값을 산출
df.groupby(['division']).mean()

                 A         B         C         D         E
division
X         0.282124  0.546572  0.393567  0.451559  0.453822
Y         0.714634  0.471426  0.874977  0.788916  0.424519
Z         0.659617  0.682583  0.989743  0.996592  0.278686